<template>
    <div class="v-w-100">
        <v-center>
            <div class="v-w-330px v-mg-t-80px">
                <v-form>
                    <div class="v-pd-x-20px">
                    <v-alert id="login_message" scheme="error" variant="default" rounded="true"></v-alert>
                    <div class="v-pd-t-20px">
                        <h3 class="v-weight-normal v-size-17px">
                            {{ $label['raccoon::log.in'] }}
                        </h3>
                    </div>
                    <div class="v-pd-b-10px">
                        <v-textbox type="text" id="email" size="medium" rounded="true" autocomplete="false" autofocus="true" :placeholder="$label['raccoon::email']"></v-textbox>
                    </div>
                    <div class="v-pd-b-10px">
                        <v-textbox type="password" id="password" size="medium" rounded="true" autocomplete="false" :placeholder="$label['raccoon::password']"></v-textbox>
                    </div>
                    <div class="v-pd-b-10px">
                        <v-button id="authenticate" size="medium">
                            {{ $label['raccoon::continue'] }}
                        </v-button>
                    </div>
                    <div class="v-pd-b-10px">
                        <v-button href="/register" size="medium" scheme="error">
                            {{ $label['raccoon::register'] }}
                        </v-button>
                    </div>
                    </div>
                </v-form>
            </div>
        </v-center>
    </div>
</template>

<script>

/**
 * Login authentication.
 */

Button('authenticate').click(function(button) {
    let alert = Alert('login_message'),
        email = Textbox('email'),
        pass = Textbox('password');
        
        email.disable();
        pass.disable();

        http('/user/authenticate', {

            email: email.val(),

            password: pass.val(),

        }, function(data) {

            email.enable();
            pass.enable();
            button.enable();
            pass.empty();

            if(data.success)
            {
                redirect(data.redirect);
            }
            else
            {
                alert.set(data.errors[0]);
            }
        });
    });
</script>