<template>
<div :id="$id">
    <div :class="$container $background $show $radius v-mg-b-10px v-ov-hidden" onmouseover="showDismissButton(this)" onmouseout="hideDismissButton(this)">
        <div :class="v-f-left v-square-16px v-mg-r-10px" :show="hasIcon()">
            <v-icon :src="$url" size="16"></v-icon>
        </div>
        <div :class="$color $text_size $offset v-f-left v-ww-break-word nv-alert-message">
            {{ $slot }} &nbsp;
        </div>
        <div class="v-f-left v-square-16px" :show="$dismiss">
            <div :class="$dismiss_bg v-square-16px v-hide v-brd-radius-2px nv-alert-dismiss">
                <a href="#" onclick="hideAlert(this); return false" :class="$dismiss_color v-decor-line-none v-bold v-show v-square-16px v-align-center v-lh-12px v-size-19px">
                    &times;
                </a>
            </div>
        </div>
        <div class="v-clear-left"></div>
    </div>
</div>
</template>

<script>
/**
 * Show alert and replace message.
 */

function showAlert(id, message, autoclose_delay = null)
{
    let el = $('#' + id);

    el.find('.nv-alert-message').text(message);
    el.fadeIn(500);

    if(autoclose_delay !== null)
    {
        el.delay(autoclose_delay).fadeOut(500);
    }
}

/**
 * Hide alert by dismiss button or method call.
 */

function hideAlert(el)
{
    if(typeof el === 'object')
    {
        $(el).parent().parent().parent().fadeOut(500);
    }
    else
    {
        $('#' + id).fadeOut(500);
    }
}

/**
 * Show dismiss button in each onmouseover event.
 */

function showDismissButton(el)
{
    $(el).find('.nv-alert-dismiss').show();
}

/**
 * Hide dismiss button in each onmouseout event.
 */

function hideDismissButton(el)
{
    $(el).find('.nv-alert-dismiss').hide();
}
</script>

<style>

</style>