<template>
<div :id="$id">
    <div :class="$container $background $show $radius v-mg-b-10px v-ov-hidden" onmouseover="showDismissButton(this)" onmouseout="hideDismissButton(this)">
        <div :class="v-f-left v-square-16px v-mg-r-10px" :show="hasIcon()">
            <v-icon :src="$url" size="16"></v-icon>
        </div>
        <div :class="$color $text_size $offset v-f-left v-lh-13px v-ww-break-word nv-alert-message">
            {{ $slot }} &nbsp;
        </div>
        <div class="v-f-left v-square-16px" :show="$dismiss">
            <div :class="$dismiss_bg v-square-16px v-hide v-brd-radius-2px alert-dismiss">
                <a href="#" onclick="hideAlert(this); return false" :class="$dismiss_color v-decor-line-none v-bold v-show v-square-16px v-align-center v-lh-12px v-size-19px">
                    &times;
                </a>
            </div>
        </div>
        <div class="v-clear-left"></div>
    </div>
</div>
</template>

<script>
function showAlert(id, message, delay = null)
{
    let el = document.getElementById(id);

    el.getElementsByClassName('nv-alert-message')[0].innerHTML = message;
    el.style.display = 'block';

    if(delay !== null)
    {

    }
}

/**
 * Hide alert by dismiss button or method call.
 */

function hideAlert(el)
{
    if(typeof el === 'object')
    {
        el.parentNode.parentNode.parentNode.style.display = 'none';
    }
    else
    {
        document.getElementById(el).style.display = 'none';
    }
}

/**
 * Show dismiss button in each onmouseover event.
 */

function showDismissButton(el)
{
    el.getElementsByClassName('alert-dismiss')[0].style.display = 'block';
}

/**
 * Hide dismiss button in each onmouseout event.
 */

function hideDismissButton(el)
{
    el.getElementsByClassName('alert-dismiss')[0].style.display = 'none';
}
</script>

<style>

</style>