<template>
<div :id="$id" class="nv-alert">
    <div :display="$display" :class="$container $background $radius v-mg-b-10px v-ov-hidden v-hide nv-alert-body">
        <div :class="v-f-left v-square-16px v-mg-r-10px" :show="hasIcon()">
            <v-icon :src="$url" size="16"></v-icon>
        </div>
        <div :class="$color $text_size $offset v-f-left v-wrap-break-word nv-alert-message">
            {{ $slot }}
        </div>
        <div class="v-f-left v-square-16px" :show="$dismiss">
            <div :class="$dismiss_bg v-square-16px v-hide v-brd-radius-2px nv-alert-dismiss">
                <a href="#" :dismiss="$id" :class="$dismiss_color v-decor-line-none v-bold v-show v-square-16px v-align-center v-lh-12px v-size-19px nv-alert-dismiss-icon">
                    &times;
                </a>
            </div>
        </div>
        <div class="v-clear-left"></div>
    </div>
</div>
</template>

<script>
/**
 * Automatically open alert.
 */

$('.nv-alert-body').each(function() {
    if($(this).is('[display]'))
    {
        $(this).delay(500).fadeIn(500);
    }
});

/**
 * Alert utility object. 
 */ 

function Alert(id)
{
    return extendUtil(id, {

        /**
         * Set alert message then show, if autoclose
         * is not null, automatically close the alert. 
         */ 

        set: function(message)
        {
            let el = this.el(id);

            el.find('.nv-alert-message').text(message);
            el.find('.nv-alert-body').fadeIn(500);
        },

        /**
         * Close alert box. 
         */ 

        close()
        {
            this.el(id).find('.nv-alert-body').fadeOut(500);
        }

    });
}

/**
 * Dismiss alert box. 
 */ 

$('.nv-alert-dismiss-icon').click(function(e) {
    Alert($(this).attr('dismiss')).close();
    e.preventDefault();
});

/**
 * Show dismiss button in each onmouseover event.
 */

$('.nv-alert-body').mouseover(function(e) {
    $(this).find('.nv-alert-dismiss').show();
});

/**
 * Hide dismiss button in each onmouseout event.
 */

$('.nv-alert-body').mouseout(function(e) {
    $(this).find('.nv-alert-dismiss').hide();
});

</script>