<template>
    <button :id="$id" :name="$name" :disabled="$disabled" :redirect="$redirect" :class="$button_width $button_height $line_height $bgcolor $bgcolor_hover $bgcolor_active $text_color $text_size $border_radius v-display-block v-pd-none v-mg-none v-align-center nv-button">
        <div class="v-display-inline-block">
            <b :show="hasIcon()" :class="$icon_margin v-square-16px v-show v-f-left v-mg-r-8px">
                <v-icon :src="$icon" size="16"></v-icon>
            </b>
            <span class="v-show v-f-left">
                {{ $slot }}
            </span>
            <div class="v-clear-left"></div>
        </div>
    </button>
</template>

<script>
/**
 * Redirect page when button with href
 * is clicked. 
 */ 

$('.nv-button').each(function() {
    $(this).click(function()
    {
        let redirect = $(this).attr('redirect');
        if(redirect)
        {
            window.location.href = redirect;
        }
    });
});

/**
 * Button utility. 
 */ 

function Button(id)
{
    return extendUtil(id, {

        /**
         * Button is clicked. 
         */ 

        click: function(func)
        {
            let that = this;
            this.el(id).click(function() {

                that.disable();
                func(that);

            });
        },

        /**
         * Enable button. 
         */ 

        enable: function()
        {
            this.el(id).prop('disabled', false);
        },

        /**
         * Disable button. 
         */ 

        disable: function()
        {
            this.el(id).prop('disabled', true);
        },

    });
}
</script>

<style>
.nv-button {
    padding: 0px 10px;
    border: 0px;
    outline: none;
}
</style>