<template>
    <input :type="$type" :id="$id" :name="$name" :maxlength="$maxlength" :class="$border_radius $border_color $height $line_height $text_size v-mg-none v-pd-6px v-w-100 v-outline-none nv-textbox" :autocomplete="$text_autocomplete" spellcheck="false" :placeholder="$placeholder" :value="$slot" :disabled="$disabled" :autofocus="$autofocus">
</template>

<script>
/**
 * Autofocus to textbox with autofocus
 * attribute.
 */

$('.nv-textbox').each(function() {
    let el = $(this);
    
    if(el.attr('autofocus'))
    {
        el.focus();
    }
});

/**
 * Textbox Utility Object. 
 */ 

function Textbox(id)
{
    return extendUtil(id, {

        /**
         * Set or return textbox value. 
         */ 

        val: function(text)
        {
            if(text)
            {
                this.el(id).val(text);
            }
            else
            {
                return this.el(id).val();
            }
        },

        /**
         * Set textbox value to empty. 
         */ 

        empty: function()
        {
            this.el(id).val('');
        },

        /**
         * Return length of textbox value. 
         */ 

        length: function()
        {
            return this.val().length;
        },

        /**
         * Focus on textbox. 
         */ 

        focus: function()
        {
            this.el(id).focus();
        },

        /**
         * Blur textbox focus. 
         */ 

        blur: function()
        {
            this.el(id).blur();
        },

        /**
         * Disable textbox. 
         */ 

        disable: function()
        {
            this.el(id).prop('disabled', true);
        },

        /**
         * Enable textbox. 
         */ 

        enable: function()
        {
            this.el(id).prop('disabled', false);
        }

    });
}
</script>

<style>
.nv-textbox {
    width: calc(100% - 14px);
    border: 1px solid #dddddd;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
</style>