<template>
    <label :for="$name">
        <input :type="$type" :id="$id" :name="$name" :maxlength="$maxlength" :class="$border_radius $border_color $height $line_height $text_size v-mg-none v-pd-6px v-w-100 v-outline-none nv-textbox" :autocomplete="$text_autocomplete" spellcheck="false" :placeholder="$placeholder" :value="$slot" :disabled="$disabled" :autofocus="$autofocus">
    </label>
</template>

<script>
function focusTextbox(id)
{
    document.getElementById(id).focus();
}

function disableTextbox(id)
{
    
}
</script>

<style>
.nv-textbox {
    width: calc(100% - 14px);
    border: 1px solid #dddddd;
}
</style>