<template>
    <label :for="$name">
        <input :type="$type" :id="$id" :name="$name" :maxlength="$maxlength" :class="$border_radius $border_color $height $line_height $text_size v-mg-none v-pd-6px v-w-100 v-outline-none nv-textbox" :autocomplete="$text_autocomplete" spellcheck="false" :placeholder="$placeholder" :value="$slot" :disabled="$disabled" :autofocus="$autofocus">
    </label>
</template>

<script>
/**
 * Autofocus to textbox with autofocus
 * attribute.
 */

$('.nv-textbox').each(function() {
    let el = $(this);
    
    if(el.attr('autofocus'))
    {
        el.focus();
    }
});

/**
 * Focus on textbox by id.
 */

function focusTextbox(id)
{
    $('#' + id).focus();
}

/**
 * Disable textbox by id.
 */

function disableTextbox(id)
{
    $('#' + id).prop('disabled', true);
}
</script>

<style>
.nv-textbox {
    width: calc(100% - 14px);
    border: 1px solid #dddddd;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
</style>