<template>

    <div class="v-w-100 v-h-100vh v-bgcolor-#dddddd v-ov-auto">
        <v-center>
            <div class="v-w-320px">
            <v-box marginbottom="10" margintop="100">
                <div class="v-pd-20px v-pd-t-0px">
                    <div class="v-pd-b-10px">
                        <v-header title="Login" bold="true"></v-header>
                    </div>
                    <div>
                        <v-login action="login/authenticate"></v-login>
                    </div>
                </div>
            </v-box>
            </div>
        </v-center>
    </div>

</template>