<template>
    <div class="v-w-100">
        <v-center>
            <div class="v-w-330px v-mg-t-40px v-media-330px:w-offset-40px">
                <div class="v-pd-20px v-pd-t-0px">
                    <div class="v-pd-b-10px">
                        <v-header :title="$label['raccoon::log.in']"></v-header>
                    </div>
                    <div>
                        <v-login id="main_login"></v-login>
                    </div>
                </div>
            </div>
        </v-center>
    </div>
</template>