<template>
    <div class="v-min-h-36px v-lh-36px v-size-14px v-bgcolor-#eeeeee">
        <v-column break="400">
            <item>
                <div class="v-w-100 v-h-36px v-ov-hidden v-pd-x-10px v-media-400px:align-center">
                    <b><v-link href="https://raccoon.io" newtab="true">Raccoon Framework</v-link></b> - version {{ $emit['version'] }}</b>
                </div>
            </item>
            <item>
                <div class="v-h-36px v-pd-x-10px v-f-right v-media-400px:f-none v-media-400px:bgcolor-#e0e0e0">
                    
                </div>
            </item>
        </v-column>
    </div>
    <v-line color="#e0e0e0"></v-line>
</template>