<template>
    <div class="v-pd-10px">
        <v-alert scheme="success" rounded="true" display="true">
            Welcome to your first raccoon project!
        </v-alert>
    </div>
    <div>
    <h1 class="v-weight-normal v-size-80px v-color-gray v-show v-align-center">
        Raccoon
    </h1>
        <v-center>
            <div class="v-w-400px v-media-400px:w-100 v-media-400px:pd-x-5px">
                <v-column break="400">
                    <item padding="5">
                        <v-button href="/raccoon" hover="true" size="large" scheme="error" width="100" rounded="true">Dashboard</v-button>
                    </item>
                    <item padding="5">
                        <v-button href="/login" hover="true" size="large" width="100" rounded="true">Login</v-button>
                    </item>
                </v-column>
            </div>
        </v-center>
    </div>
    <div class="v-h-36px v-lh-36px v-w-100 v-bgcolor-#f0f0f0 v-size-13px v-pos-fixed v-bottom-0px v-media-440px:h-72px">
        <div class="v-pd-x-10px">
            <v-column break="440">
                <item>
                    <div class="v-media-440px:align-center">
                        Copyright &copy; {{ $emit['year'] }}
                    </div>
                </item>
                <item>
                    <div class="v-align-right v-media-440px:align-center">
                        Written by <b><v-link href="http://raccoon.io/about-us" newtab="true">James Levi Crisostomo</v-link></b>
                    </div>
                </item>
            </v-column>
        </div>
    </div>
</template>